.brands-wrappeer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.brand {
    width: 24%;
    height: 110px;
    padding: 5px;
    background-color: var(--white-color);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
}
.brand-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 720px) {
    .brands-wrappeer {
        padding: 15px;
    }
    .brand {
        width: 48%;
    }
}
