.spinner {
    height: calc(100vh - 250px);
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: darkblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
    opacity: 0;
}
@keyframes spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}