.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;  
}
.page {
    border: 1px solid var(--gray-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-color);
}
.active {
    background-color: rgb(165, 162, 162);
}
.page.prev,
.page.next {
    width: max-content;
    padding: 0 5px;
    font-size: 16px;
}
.page.prev {
    border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -ms-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
}
.page.next {
    border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -ms-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
}