.products {
    padding: 30px;
    display: flex;
    align-items: flex-start;
}
/* product sidebar */
.product-sidebar {
    width: 25%;
    border: 2px solid rgb(209, 192, 192);
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}
.sidebar-item {
    margin-bottom: 20px;
}
.product-sidebar-title {
    color: var(--primary-color);
    font-size: 21px;
}
.form-group {
    margin: 5px 0;
    display: flex;
    align-items: center;   
}
.form-group input {
    cursor: pointer;
}
.form-group label {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
}
/* product list */
.product-list {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product-item {
    width: 30%;
    height: 310px;
    margin-bottom: 20px;
    background-color: var(--white-color);
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 0 .5px .5px var(--gray-color);
}
.product-item:hover .product-item-title {
    color: blue;
}
.product-item-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.product-item-title {
    color: var(--primary-color);
    font-size: 17px;
}
.product-item-price {
    color: var(--primary-color);
    font-size: 21px;
    font-weight: bold;
}

/* media queries*/
@media (max-width: 980px) {
    .products {
        flex-direction: column;
    }
    .product-sidebar {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .sidebar-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        width: 50%;
    }
    .product-list {
        width: 100%;
    }
    .product-item {
        width: 48%;
    }
}
@media (max-width: 580px) {
    .product-item {
        width: 100%;
    }
    .product-sidebar-title {
        font-size: 17px;
    }
}
@media (max-width: 420px) {
    .product-sidebar {
        flex-direction: column;
    }
    .sidebar-item {
        width: 100%;
        margin-bottom: 15px;
    }
    .product-sidebar-title {
        font-size: 21px;
    }
}