.header {
  height: 250px;
  width: 100%;
  background-color: var(--primary-color);
}
/* top header */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--secondary-color);
  height: 20%;
  color: var(--main-color);
}
.top-header-menu {
  display: none;
  font-size: 32px;
  cursor: pointer;
}
.top-header-logo {
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}
.top-header-logo i {
  margin-left: 4px;
}
.top-header-text {
  font-size: 21px;
  font-weight: bold;
  color: var(--warning-color);
}
.top-header-phone {
  font-size: 24px;
  font-weight: 500;
}

/* middle header */
.middle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 50%;
}
.middle-header-search-box {
  width: 70%;
  background-color: var(--white-color);
  height: 60px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.middle-header-search-box input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 21px;
  padding-right: 20px;
}
.search-box-btn {
  position: absolute;
  height: 100%;
  left: 0;
  padding: 0 17px;
  font-size: 21px;
  border: none;
  background-color: var(--success-color);
  color: var(--white-color);
  cursor: pointer;
}
.middle-header-shopping-cart {
  font-size: 20px;
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.bi-cart3 {
  font-size: 32px;
  margin-right: 10px;
}
.cart-notification {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 18px;
  background-color: var(--light-red-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 30%;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-link {
  color: var(--white-color);
  padding-left: 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}
.navbar-link:hover {
  color: var(--warning-color);
}
.navbar-close-icon {
    font-size: 32px;
    padding: 10px;
    text-align: left;
    width: 100%;
    color: var(--white-color);
    display: none;
}
.navbar-close-icon i {
    color: var(--light-red-color);
    cursor: pointer;
}
/* Media Queries */
@media (max-width: 920px) {
  .top-header-menu {
    display: block;
  }
  .top-header-text {
    display: none;
  }
  .middle-header {
    flex-wrap: wrap;
    height: 80%;
  }
  .middle-header-search-box {
    width: 100%;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: -320px;
    background-color: var(--primary-color);
    width: 320px;
    height: 100vh;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 99;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  .navbar-link {
    width: 100%;
    margin: 20px 0;
    padding-right: 20px;
  }
  .navbar-close-icon {
    display: block;
  }
}
@media (max-width: 520px) {
    .top-header,
    .middle-header {
        padding: 0 15px;
    }
    .top-header-phone {
        display: none; 
    }
}