.slider-container {
    position: relative;
    display: flex;
    height: 380px;
    padding: 20px 5px;
    background-color: var(--light-red-color);
    margin: 10px 20px;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    background-color: var(--main-color);
    border: none;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}
.slider-wrapper {
    height: 100%;
    display: flex;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.slide {
    border: 1px solid var(--main-color);
    background-color: var(--white-color);
    width: 270px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.slide:first-of-type {
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
}
.slide:last-of-type {
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
}
.slide-img {
    width: 70%;
    height: auto;
    object-fit: contain;
}
.slide-title {
    color: var(--primary-color);
    font-size: 17px;
}
.slide-price {
    color: var(--primary-color);
    font-size: 17px;
    font-weight: bold;
}